@mixin text {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

.button-container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cssbuttons-io-button {
  width: 90%;
  margin: 10px 0;
  @include text;
  background: #d9544d;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #d9544d;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button.green {
  background: #6fc276;
  box-shadow: inset 0 0 1.6em -0.6em #6fc276;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #d9544d;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button .icon.green {
  box-shadow: 0.1em 0.1em 0.6em 0.2em #6fc276;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #d9544d;
}

.cssbuttons-io-button .icon.green svg {
  color: #6fc276;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
